@media print {
  @page {
    size: A4;
  }

  body {
    font-size: 12pt !important;
    background: $wrapper-color !important;
  }

  a::after {
    content: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img {
    break-after: avoid !important;
    break-inside: avoid !important;
  }

  ul,
  ol {
    break-before: avoid !important;
  }

  a,
  blockquote,
  pre {
    break-inside: avoid !important;
  }

  .wrapper {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
  }

  .footer {
    display: none !important;
  }

  .section-title {
    margin-bottom: 5px !important;
  }

  .wrapper section:not(:last-child) {
    margin-bottom: 5px !important;
  }

  .wrapper section .section-content .items .item {
    margin-bottom: 5px !important;
  }

  .wrapper .skill .section-content .groups .group .group-name {
    font-weight: 600;
    flex-basis: 15%;
  }

  .wrapper .skill .section-content .groups .group .group-item {
    flex-basis: 85%;
  }
}